.description-screen {
    padding-top: 70px;
}

.description-screen__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &:nth-child(3) {
        flex-direction: row-reverse;
    }
    height: 655px;
}

.description-screen__item img {
    margin-bottom: 200px;
}

.description-screen__item-content {
    text-align: left;
    width: 560px;
}